stages:
    - code-check

phpmd:
    stage: code-check
    script:
        - phpmd-default-php7.1

phpcs:
    stage: code-check
    script:
        - phpcs-default

lint-frontend:
    stage: code-check
    script:
        - npm install
        - npm run lint:js
        - npm run lint:scss

test-composer:
    stage: code-check
    script:
        - composer install
