# Api
login:
    path:       /api/login
    controller: App\Controller\SecurityController::login

# Application
index:
    path: /
    controller: App\Controller\AppController::index

application:
    path: /{route}
    controller: App\Controller\AppController::index
    requirements:
        token: .+

games:
    type: rest
    prefix: api
    resource: App\Controller\GameController

shoots:
    type: rest
    prefix: api
    resource: App\Controller\ShootController
